In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score, StratifiedKFold
import catboost as ct
%matplotlib inline

import lightgbm as lgb

/root/anaconda3/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: compiletime version 3.4 of module '_catboost' does not match runtime version 3.5
  return f(*args, **kwds)

In [2]:
train = pd.read_csv('data/train_set_weeks.csv')
test = pd.read_csv('data/test_set_weeks.csv')
#val_idx = train['N wk'] >= 173
#X_val = train[val_idx]
X_train = train#[~val_idx]
X_test = test

In [ ]:
X_train.groupby(['idFilial', 'KanalDB', 'idSubGrp'])[['value']].mean()

In [145]:
X_train_cumsum = pd.DataFrame()
X_train_cumsum.columns = ['value_cumsum']

In [6]:
y_train = X_train['value'].values
y_val = X_val['value'].values

X_train.drop('value', inplace=True, axis=1)
X_val.drop('value', inplace=True, axis=1)

X_train.drop(['id', 'wk'], inplace=True, axis=1)
X_val.drop(['id', 'wk'], inplace=True, axis=1)
X_test.drop(['id', 'wk'], inplace=True, axis=1)

In [8]:
dtrain = ct.Pool(X_train, label=y_train, cat_features=[1, 2, 3])
#dval = ct.Pool(X_val, label=y_val, cat_features=[0, 1, 2])

In [9]:
clf = ct.CatBoostRegressor(random_seed=0, eval_metric='RMSE', logging_level='Silent')

In [11]:
clf.fit(dtrain)

In [12]:
dtest = ct.Pool(X_test, cat_features=[1, 2, 3])
y_pred = clf.predict(dtest)

In [13]:
y_sample = pd.read_csv('data/sample_submission.csv')

In [14]:
y_pred

array([ 127641.08237216,  127641.08237216,  127641.08237216, ...,
         11104.49348116,   11104.49348116,   11104.49348116])

In [15]:
y_sample['value'] = y_pred

In [16]:
y_sample.to_csv('very_noobski_submit.csv', index=False)

In [3]:
train

          id      wk  N wk  idFilial  KanalDB  idSubGrp     value
0          0  201401     1         9        2         3    3560.0
1          1  201402     2         9        2         3    7120.0
2          2  201403     3         9        2         3   57672.0
3          3  201404     4         9        2         3   37380.0
4          4  201405     5         9        2         3   80990.0
5          5  201406     6         9        2         3   -8900.0
6          6  201407     7         9        2         3  131364.0
7          7  201408     8         9        2         3   67818.0
8          8  201409     9         9        2         3   80100.0
9          9  201410    10         9        2         3    8544.0
10        10  201411    11         9        2         3   56604.0
11        11  201412    12         9        2         3  105020.0
12        12  201413    13         9        2         3  110894.0
13        13  201414    14         9        2         3   89000.0
14        14  201415    15         9        2         3  179780.0
15        15  201416    16         9        2         3  110716.0
16        16  201417    17         9        2         3   87220.0
17        17  201418    18         9        2         3   53400.0
18        18  201419    19         9        2         3   53400.0
19        19  201420    20         9        2         3   79210.0
20        20  201421    21         9        2         3  103062.0
21        21  201422    22         9        2         3   71200.0
22        22  201423    23         9        2         3  101104.0
23        23  201424    24         9        2         3   82770.0
24        24  201425    25         9        2         3   65860.0
25        25  201426    26         9        2         3   83660.0
26        26  201427    27         9        2         3  129050.0
27        27  201428    28         9        2         3  217516.0
28        28  201429    29         9        2         3   89712.0
29        29  201430    30         9        2         3   64080.0
...      ...     ...   ...       ...      ...       ...       ...
18224  18224  201650   153         8        1         1    3460.0
18225  18225  201651   154         8        1         1    5882.0
18226  18226  201652   155         8        1         1    5882.0
18227  18227  201653   156         8        1         1    4844.0
18228  18228  201702   157         8        1         1   10726.0
18229  18229  201703   158         8        1         1    4498.0
18230  18230  201704   159         8        1         1    1384.0
18231  18231  201705   160         8        1         1     346.0
18232  18232  201706   161         8        1         1    6574.0
18233  18233  201707   162         8        1         1    8650.0
18234  18234  201709   164         8        1         1    9688.0
18235  18235  201710   165         8        1         1    7612.0
18236  18236  201711   166         8        1         1    2422.0
18237  18237  201712   167         8        1         1   -3114.0
18238  18238  201713   168         8        1         1     346.0
18239  18239  201714   169         8        1         1    7612.0
18240  18240  201715   170         8        1         1    3806.0
18241  18241  201716   171         8        1         1   10380.0
18242  18242  201717   172         8        1         1     346.0
18243  18243  201718   173         8        1         1    3114.0
18244  18244  201719   174         8        1         1    3114.0
18245  18245  201720   175         8        1         1    2076.0
18246  18246  201721   176         8        1         1    4844.0
18247  18247  201722   177         8        1         1    7958.0
18248  18248  201723   178         8        1         1    2076.0
18249  18249  201724   179         8        1         1    8304.0
18250  18250  201725   180         8        1         1   10726.0
18251  18251  201726   181         8        1         1    4152.0
18252  18252  201727   182         8        1         1    2768.0
18253  18253  201728   183         8        1         1   11764.0

[18254 rows x 7 columns]

In [4]:
test

        id      wk  N wk  idFilial  KanalDB  idSubGrp
0        0  201729   184         9        2         3
1        1  201730   185         9        2         3
2        2  201731   186         9        2         3
3        3  201732   187         9        2         3
4        4  201733   188         9        2         3
5        5  201734   189         9        2         3
6        6  201735   190         9        2         3
7        7  201736   191         9        2         3
8        8  201737   192         9        2         3
9        9  201738   193         9        2         3
10      10  201739   194         9        2         3
11      11  201729   184         9        2         4
12      12  201730   185         9        2         4
13      13  201731   186         9        2         4
14      14  201732   187         9        2         4
15      15  201733   188         9        2         4
16      16  201734   189         9        2         4
17      17  201735   190         9        2         4
18      18  201736   191         9        2         4
19      19  201737   192         9        2         4
20      20  201738   193         9        2         4
21      21  201739   194         9        2         4
22      22  201729   184         9        2         5
23      23  201730   185         9        2         5
24      24  201731   186         9        2         5
25      25  201732   187         9        2         5
26      26  201733   188         9        2         5
27      27  201734   189         9        2         5
28      28  201735   190         9        2         5
29      29  201736   191         9        2         5
...    ...     ...   ...       ...      ...       ...
1097  1097  201731   186         8        1         6
1098  1098  201732   187         8        1         6
1099  1099  201733   188         8        1         6
1100  1100  201734   189         8        1         6
1101  1101  201735   190         8        1         6
1102  1102  201736   191         8        1         6
1103  1103  201737   192         8        1         6
1104  1104  201738   193         8        1         6
1105  1105  201739   194         8        1         6
1106  1106  201729   184         8        1         2
1107  1107  201730   185         8        1         2
1108  1108  201731   186         8        1         2
1109  1109  201732   187         8        1         2
1110  1110  201733   188         8        1         2
1111  1111  201734   189         8        1         2
1112  1112  201735   190         8        1         2
1113  1113  201736   191         8        1         2
1114  1114  201737   192         8        1         2
1115  1115  201738   193         8        1         2
1116  1116  201739   194         8        1         2
1117  1117  201729   184         8        1         1
1118  1118  201730   185         8        1         1
1119  1119  201731   186         8        1         1
1120  1120  201732   187         8        1         1
1121  1121  201733   188         8        1         1
1122  1122  201734   189         8        1         1
1123  1123  201736   191         8        1         1
1124  1124  201737   192         8        1         1
1125  1125  201738   193         8        1         1
1126  1126  201739   194         8        1         1

[1127 rows x 6 columns]